.genre-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;

    .icon-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 0 0 10px 5px rgba(211,211,211,1);

        img{
            width: 25px;
        }

        .genre-text{
            font-size: 8px;
            text-align: center;
            word-break: break-word;
        }
    }

}