@import url(https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    .hero-text{
        text-transform: uppercase;
        font-family: "Luckiest Guy", cursive;
        font-size: 32px;
        padding: 6rem 4rem 4rem 4rem;
    }

    }
}

body.dark-mode{
    background-color:#8B8989 ;
    color: white;

    a{
        color: white;
    }
    
    .link-container a{
        color: white;
    }

    .modal{
        background-color:#8B8989 ;
        color: white;
    }
}

