.search-container{
    width: fit-content;
    box-shadow: 0 0 10px 5px rgba(100,100,100,0.7);
    border-radius: 25px;
    padding: 0.3rem 0.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;

    input{
        border: none;
        padding-left: 1rem;
        background-color: white;

        &:focus{
            outline: none;
            background-color: white;
            box-shadow: none;
        }
        &::selection{
            background-color: transparent;
        }
    }
    button{
        padding: 0.5rem 0.8rem;
        border: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
}